{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

<div class="container custom-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li><a href="/home"><img class="w-50 image" src="{% static 'image/head.png' %}" alt=""></a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">

                <!-- Search Form -->
                <form class="form-inline my-2 my-lg-0" method="get" action="">
                    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" value="{{ query }}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                &nbsp;&nbsp;
                <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Profile
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/newpost">New Post</a>
                      <a class="dropdown-item" href="/mypost">My Posts</a>
                      <a class="dropdown-item" href="/signout">Sign Out</a>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <br><br>
    <div class="container custom-container post-container">
        {% for post in posts %}
        <article class="media content-section">
            <div class="media-body post-content">
                <div class="article-metadata">
                    <h1 class="post-author">{{ post.author }}</h1>
                    <h5 class="post-date">{{ post.date_posted|date:"F d, Y" }}</h5>
                    <hr class="clear-both" />
                </div>
                <h3 class="post-title">{{ post.title }}</h3>
                <p class="article-content">{{ post.content }}</p>
                <br><br>
            </div>
        </article>
        {% endfor %}
    </div>
</div>

{% endblock %}
